Add_role_to_server_member.json
{
  "name": "Add role to server member",
  "nodes": [
    {
      "parameters": {},
      "id": "82bdeec7-5ff5-4ed5-8c57-f3007bd7f81e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1280,
        240
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "id": "9845c82b-942e-4265-be8c-c4b1a9199b1e",
      "name": "We're done",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1960,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8cabfe61-be13-462f-a8ce-99ba5304fa10",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.ID }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "86bf2fe1-22b3-4563-a4b7-b3603f96cada",
      "name": "Check if we have an ID",
      "type": "n8n-nodes-base.if",
      "position": [
        860,
        240
      ],
      "executeOnce": true,
      "typeVersion": 2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Credentials').item.json[\"Discord ID\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "bc012053-c619-479b-8bcb-9325c209d999",
      "name": "Get First 100 Members",
      "type": "n8n-nodes-base.discord",
      "position": [
        1060,
        260
      ],
      "typeVersion": 2,
      "credentials": {
        "discordBotApi": {
          "id": "4HT9Y8d8MQHTmHFZ",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Credentials').item.json[\"Discord ID\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7214e807-5a51-438d-9db8-32821307f4ea",
      "name": "Get next 100 Members after last ID",
      "type": "n8n-nodes-base.discord",
      "position": [
        1060,
        60
      ],
      "typeVersion": 2,
      "credentials": {
        "discordBotApi": {
          "id": "4HT9Y8d8MQHTmHFZ",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        420,
        240
      ],
      "id": "656082e5-b3d9-45a9-b175-db7630046cec",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c8cce4f-1330-425a-baff-4c40320f2335",
              "name": "Role ID",
              "type": "string",
              "value": "1338872006518509700"
            },
            {
              "id": "bb87e6f5-def9-4625-818a-ce6ff7b44ed7",
              "name": "Discord ID",
              "type": "string",
              "value": "836306008187732018"
            }
          ]
        },
        "options": {}
      },
      "id": "11926dbb-a5e0-48f9-8453-7dc21ecf6717",
      "name": "Credentials",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        240
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "836306008187732018",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1339579338722377931",
          "mode": "id"
        },
        "content": "🎉 Gefeliciteerd! Je hebt de rol \"Oreo\" gekregen.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1700,
        240
      ],
      "id": "cb07d00c-2574-4d2e-b40e-9280ac32b7cc",
      "name": "Message",
      "credentials": {
        "discordBotApi": {
          "id": "4HT9Y8d8MQHTmHFZ",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "member",
        "operation": "roleAdd",
        "guildId": {
          "__rl": true,
          "value": "836306008187732018",
          "mode": "id"
        },
        "userId": {
          "__rl": true,
          "value": "=526360242938707971",
          "mode": "id"
        },
        "role": [
          "1339523036201746473"
        ]
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1500,
        240
      ],
      "id": "6aaae4a0-146e-432b-8045-3c6fb554fdc5",
      "name": "Add roles",
      "retryOnFail": false,
      "waitBetweenTries": 2000,
      "maxTries": 5,
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "4HT9Y8d8MQHTmHFZ",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Add roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First 100 Members": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if we have an ID": {
      "main": [
        [
          {
            "node": "Get next 100 Members after last ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get First 100 Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get next 100 Members after last ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials": {
      "main": [
        [
          {
            "node": "Check if we have an ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "We're done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add roles": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "PHkzhp7r6iqBgqsD"
  },
  "versionId": "b7c2b319-84ab-455d-957b-78d43acb3d6d",
  "meta": {
    "templateId": "2105",
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a5fbd5de8f7b9a6ec83be68cbb9af5f4d936117abeca220949e1469dad6661"
  },
  "id": "fBqMXxrwfW62ETmc",
  "tags": []
}